In [12]:
import pandas as pd  # For data handling and manipulation

In [14]:
# Set the path to your input file
input_file = 'linkedin_jobs.csv'  # or 'linkedin_jobs.json'

# Load the data
if input_file.endswith('.csv'):
    df = pd.read_csv(input_file)
elif input_file.endswith('.json'):
    df = pd.read_json(input_file, lines=True)
else:
    raise ValueError("Unsupported file format. Use CSV or JSON.")

# Show the first few rows to verify
df.head()

,jobid,job_title,job_level,job_url,industry,job_description,job_salary
201,Data Engineer,Mid,https://www.linkedin.com/jobs/view/3928327681/,Technology,Build data pipelines and manage data platforms,$105,0
202,Senior Data Engineer,Senior,https://www.linkedin.com/jobs/view/3927117499/,Finance,Lead ETL processes and mentor junior engineers,$125,0
203,Data Platform Engineer,Mid,https://www.linkedin.com/jobs/view/3930213714/,Technology,Develop scalable data infrastructure and services,$110,0
204,Cloud Data Engineer,Mid,https://www.linkedin.com/jobs/view/3929893687/,Cloud Computing,Manage cloud data workflows and storage systems,$108,0
201,Data Engineer,Mid,https://www.linkedin.com/jobs/view/3928327681/,Technology,Build data pipelines and manage data platforms,$105,0

In [16]:
# Set the column name to identify duplicates (change if your column name is different)
job_id_column = 'jobid'

# Check if the column exists
if job_id_column not in df.columns:
    raise ValueError(f"Column '{job_id_column}' not found in data.")

# Get number of rows before deduplication
before = len(df)

# Drop duplicates
df_clean = df.drop_duplicates(subset=job_id_column)

# Get number of rows after deduplication
after = len(df_clean)

print(f"Removed {before - after} duplicates. Remaining rows: {after}")

Removed 2 duplicates. Remaining rows: 8

In [18]:
# Define output file name
output_file = 'linkedin_jobs_deduplicated.csv'

# Save to CSV
df_clean.to_csv(output_file, index=False)

print(f"Cleaned data saved to: {output_file}")

Cleaned data saved to: linkedin_jobs_deduplicated.csv

In [20]:
df_clean.head() #preview cleaned data

,jobid,job_title,job_level,job_url,industry,job_description,job_salary
201,Data Engineer,Mid,https://www.linkedin.com/jobs/view/3928327681/,Technology,Build data pipelines and manage data platforms,$105,0
202,Senior Data Engineer,Senior,https://www.linkedin.com/jobs/view/3927117499/,Finance,Lead ETL processes and mentor junior engineers,$125,0
203,Data Platform Engineer,Mid,https://www.linkedin.com/jobs/view/3930213714/,Technology,Develop scalable data infrastructure and services,$110,0
204,Cloud Data Engineer,Mid,https://www.linkedin.com/jobs/view/3929893687/,Cloud Computing,Manage cloud data workflows and storage systems,$108,0
205,ETL Developer,Entry,https://www.linkedin.com/jobs/view/3930306452/,Retail,Design and develop ETL mappings and data valid...,$90,0